.header{
    width: 800px;
    display: flex;
    justify-self: center;
    justify-content: center;

}

.main{
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.controls{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.grid{
    width: 800px;
    height: 800px;
    border: solid;
    display: flex;
    flex-wrap: wrap;
    
}